.nav-tabs,
.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    border: none;
}

#dictsList button {
    width: auto;
    margin: 1rem auto;
}

#wordList img {
    max-width: 100%;
    height: auto;
}

